<div>
  <h1>Submit User Details</h1>
  <form #form="ngForm" (ngSubmit)="AddUser(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             name="categoryName"
             placeholder="Enter your name"
             [(ngModel)]="model.name"
             required />
      <small id="categoryHelp" class="form-text text-muted">Enter your name here</small>
      <!-- Error Message for Name -->
      <div *ngIf="form.controls.categoryName?.invalid && (form.controls.categoryName?.touched || form.submitted)" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text"
             class="form-control"
             id="address"
             name="useraddress"
             placeholder="Enter your address here"
             [(ngModel)]="model.address"
             required />
      <!-- Error Message for Address -->
      <div *ngIf="form.controls.useraddress?.invalid && (form.controls.useraddress?.touched || form.submitted)" class="text-danger">
        Address is required.
      </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    <br />
  </form>

  <label *ngIf="result">{{ result }}</label>
</div>
